# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Model files
*.pkl
*.joblib

# Data files (optional)
*.csv
*.xlsx
